<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/gt.css">
	<link rel="stylesheet" type="text/css" href="static/mmm.css">

	<title> Contact Us </title>
	</head>
	<body>

		<div class="sidebar">
		  <a href="{{ url_for('index')}}">Home</a>
		  <a href="{{ url_for('about') }}">About</a>
		  <a href="{{ url_for('twitter')}}">Tweets</a>
		  <a href="{{ url_for('youtube')}}">Youtube Comments</a>
		  <a href="{{ url_for('news')}}">News</a>
		  <a class="active" href="{{ url_for('contact') }}">Contact</a>
		</div>

		<div class="content">
			<h2>Contact Us</h2>
			<h4> Meet your developers! </h4>
			<h4> For any queries, suggestions or feedback, please write to any one of us </h4>
			<div class="meetusbox">

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="static/cat.jpeg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Dr. Vipul Kumar Mishra</h2>
          <p class="title">Mentor</p>
          <p>Professor at Bennett University</p>
          <p>vipul.mishra@bennett.edu.in</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="static/cat.jpeg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Siddhant Sinha</h2>
          <p class="title">Web Development<br>Data extraction and analysis</p>
          <p>BTech student at MIT,Manipal.</p>
          <p>sid.ronaldo1904@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="static/cat.jpeg" alt="John" style="width:100%">
        <div class="container">
          <h2>Sahaana Das</h2>
          <p class="title">Data extraction and analysis</p>
          <p>BTech student at Bennett University</p>
          <p>sahaanadas@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="static/cat.jpeg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Mohmmad Aslam</h2>
          <p class="title"> Data Extraction and Analysis</p>
          <p>BTech student at IIT Gandhinagar</p>
          <p>mohmmad.aslam@iitgn.ac.in</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="static/cat.jpeg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Shounak Banerjee</h2>
          <p class="title">Data Analysis</p>
          <p> BTech student at IIT Kharagpur </p>
          <p>shounakb1@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="static/cat.jpeg" alt="John" style="width:100%">
        <div class="container">
          <h2>Satyam Gupta</h2>
          <p>BTech student at Bennett University</p>
          <p>sg2085@bennett.edu.in</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="static/cat.jpeg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Annabathula Sai Lakshman</h2>
          <p>BTech student at SRK Institute of technology</p>
          <p>lucky9032404415@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="static/cat.jpeg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Gokul G</h2>
          <p>BTech student at Sri Ramakrishna Engineering College</p>
          <p>gokul20ganesh@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="static/cat.jpeg" alt="John" style="width:100%">
        <div class="container">
          <h2>Krishna Singh</h2>
          <p>BTech student at SRK Institute of technology</p>
          <p>dahiyasrajput111@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
		</div>

	</body>
</html>
